<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>


<div id="main" class="leftMenu" th:fragment="menu">
    <div id="main_menu">
        <div id="main_menu_top">
            <ul>
                <li>
                    <span class="glyphicon glyphicon-pencil"></span>
                </li>
                <li>
                    <span class="	glyphicon glyphicon-pushpin"></span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-book"></span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </li>
            </ul>
        </div>
        <div id="main_menu_content">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <p data-toggle="collapse" data-parent="#accordion" href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                后台首页
                            </p>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <i class="glyphicon glyphicon-asterisk"></i>
                                系统管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">
                                <i class="glyphicon glyphicon-gift"></i>
                                用户管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour">
                                <i class="glyphicon glyphicon-cog"></i>
                                系统工具
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree">
                                <i class="glyphicon glyphicon-qrcode"></i>
                                微信管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFive">
                                <i class="glyphicon glyphicon-credit-card"></i>
                                信息管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSix">
                                <i class="glyphicon glyphicon-comment"></i>
                                OA办公
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSeven">
                                <i class="glyphicon glyphicon-hdd"></i>
                                数据库管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseNight">
                                <i class="glyphicon glyphicon-tag"></i>
                                一级菜单
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                二级菜单
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        <div id="main_content">

            </div>-->
</div>

</body>
</html>