<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
</head>
<body>

<button onclick="check()"> 点击我</button>
<script type="text/javascript">

    function check() {
        var params = {};
        //params.XX必须与Spring Mvc controller中的参数名称一致
        //否则在controller中使用@RequestParam绑定
        params.num = 10;
        params.id = 12;
        params.amount = 12;
        $.ajax({
            async:false,
            type: "POST",
            url: "update",//注意路径
            data:params,
            dataType:"json",
            success:function(data){
                if(data.result=='SUCCESS'){
                    alert("修改成功");
                }else{
                    alert("修改失败，失败原因【" + data + "】");
                }
            },
            error:function(data){
                alert("错误"+data.result);
            }
        });
    }

</script>
</body>
</html>