<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finex.cloudera.web.mapper.UserMenuMapper">

  <resultMap id="MenusResultMap" type="com.finex.cloudera.web.entity.SubMenu">
    <result column="menu_id" property="menuId" jdbcType="INTEGER"></result>
    <result column="menu_name" property="menuName" jdbcType="VARCHAR"></result>
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR"></result>
    <result column="pid" property="pId" jdbcType="INTEGER"></result>
    <result column="menu_order" property="menuOrder" jdbcType="VARCHAR"></result>
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"></result>
    <result column="menu_type" property="menuType" jdbcType="VARCHAR"></result>
    <result column="menu_state" property="menuState" jdbcType="INTEGER"></result>
  </resultMap>

  <select id="findMenus" resultMap="MenusResultMap">
    SELECT * FROM t_menu WHERE menu_type='1' ORDER BY menu_id ASC ;
  </select>

    <select id="findMenusByPid" parameterType="INTEGER" resultMap="MenusResultMap">
        SELECT * FROM t_menu WHERE pid=#{pid} ORDER BY menu_id ASC ;
    </select>
  

 
</mapper>